<h1> Index Page </h1>

<% @places.each do |place| %>
<div>
  <h3><%= place.id %></h3>
  <h3><%= place.country_name %></h3>
  <h3><%= place.currency %></h3>
  <p><a href="/places/<%= place.id %>">See more</a></p>
</div>

<form class="" action="/places/<%= place.id %>" method="post">
  <input type="submit" name="" value="Delete">
  <input type="hidden" name="_method" value="DELETE">
</form>

<% end %>
